<launch>
    <node pkg="odrive_motor_control" name="odrive_twist_driver" type="odrive_twist_driver.py" output="screen"/>
    <node pkg="odrive_motor_control" name="odom_publisher" type="odom_publisher.py" output="screen"/>

    <node pkg="odrive_motor_control" name="keyboard_teleop" type="keyboard_teleop.py" output="screen"/>
</launch>